*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geologica', sans-serif;
}
body{
    overflow-x: hidden;
    min-height: 1000px;
    overflow-y: visible;
}
header{
    position: fixed;
    z-index: 50;
    top: 0;
    width: 100vw;
    min-height: 95px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .4s ease-out;
}
.scroll-down{
    background-color: white;
    box-shadow: 0px 5px 10px 5px rgb(214, 245, 255);
}
.pokebola{
    max-width: 70px;
    height: auto;
    padding: 0 10px;
}
.a-pkbola{
    display: flex;
    align-items: center;
}
header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 40vw;
}
header ul li a, header a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;
}
header a{
    font-size: 1.75rem;
}
.back-img{
    background-image: url(imgs/pokeback.png);
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 715px;
    position: relative;
}
.text-content{
    position: absolute;
    z-index: 5;
    top: 190px;
    right: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-content h1{
    font-weight: bolder;
    font-size: 3rem;
}
.text-content p{
    font-size: 1.25rem;
    padding: 25px 0;
}
.text-content a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.25rem;
    color: white;
    background-color: rgb(0, 157, 255);
    border-radius: 25px;
    padding: 13px 35px;
    transition: all .3s ease-out;
}
.text-content a:hover{
    transform: scale(1.2);
}
.history{
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.history h1{
    font-weight: bolder;
    font-size: 3rem;
}
.first-steps{
    display: flex;
    border-left: 5px solid springgreen;
    width: 80%;
    min-height: 190px;
}
.game-boy{
    display: flex;
    border-right: 5px solid crimson;
    width: 80%;
    min-height: 190px;   
}
.pikachu{
    display: flex;
    width: 80%;
    min-height: 190px; 
    border-left: 5px solid gold;
}
.year{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    color: springgreen;
    font-size: 3rem;
    font-weight: bold;
}
.year img{
    max-width: 75px;
    max-height: 60px;
    padding: 0 10px;   
}
.first-steps h1{
    color: springgreen;
}
.game-boy h1{
    color: crimson;
}
.pikachu h1{
    color: gold;
}
.texts{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
}
.texts h1{
    font-size: 2rem;
}
.texts p{
    color: gray;
    font-weight: bold;
    font-size: 1.25rem;
}
.game-boy .year{
    color: crimson;
}
.pikachu .year{
    color: gold;
}
/*Pagina de Pokedex*/
.searcher{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0 0 0;
    text-align: center;
}
#search-pokemon{
    display: flex;
}
#search-pokemon .texto-input{
    width: 40vw;
    border-radius: 20px;
    outline: 0;
    border: 2px solid grey;
    padding: 5px;
    margin-right: 10px;
    font-size: 1.25rem;
}
#search-pokemon .submit{
    color: white;
    background: linear-gradient(to top right, rgb(1, 164, 209), aqua);
    border: 0;
    outline: 0;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 25px;
}
#container-pokemons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px 40px;
    padding: 100px 10%;
}
.card{
    max-width: 300px;
    min-height: 350px;
    box-shadow: 7px 7px 20px 5px rgb(209, 209, 209);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.card h1{
    font-weight: normal;
}
.card p{
    font-weight: bold;
}
.card img{
    border-radius: 25%;
    max-width: 140px;
    max-height: 140px;
    background-color: rgb(143, 188, 182);
    padding: 15px;
}
.card .boton-fav{
    border: 0;
    background: linear-gradient(to top right, rgb(1, 164, 209), aqua);
    outline: 0;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 25px;
    color: white;
}
.filter{
    display: none;
}
